services:
  - type: web
    plan: free
    name: personalWeb
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "python -m gunicorn personalWeb.wsgi:application --bind:${PORT}"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: financedb
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
    autoDeploy: true


databases:
  - name: financedb
    plan: free
    ipAllowList: []
