<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title> Buy </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>

	<body>
		<div class="wrapper">
			<p> welcome to commerce </p>
		</div>

		<!--Scripts-->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>							<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>							<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>								<script src="{% static 'assets/js/main.js' %}"></script>
	</body>

</html>
